<h1>ReplenCount</h1>


@using IOTShopDataAccess
@using IOTShopDataAccess.Models
@using IOTShopDataAccess.Data
@using IOTShopFrontEnd.Models
@using IOTShopFrontEnd.OverviewComponents

@inject IReplenData _stock

<AuthorizeView>
    <Authorized>
        <body style="background-color:sandybrown">

            <br />

            @if (stocks is null)
            {
                <p><em>Loading Data....</em></p>
            }
            else
            {
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>
                                replens:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stock in stocks)
                        {
                            <tr>
                                <td>@stock.ReplenCount</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <br />
            }
        </body>
    </Authorized>
    <NotAuthorized>
        <body style="background-color:sandybrown">
            <div class="jumbotron-fluid">
                <div class="alert alert-danger" role="alert">
                    <p>
                        Please Login.

                        If you're Having Trouble with Logging in Please Contact Admin Support.
                    </p>

                </div>
            </div>

        </body>
    </NotAuthorized>
</AuthorizeView>

@code {

    private List<ReplenModel> stocks;


    protected override async Task OnInitializedAsync()
    {

        stocks = await _stock.GetReplens();

    }

}
