<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">IOTShopFrontEnd</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StockTake">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StockTake
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Replen">
                <span class="oi oi-cloud-download" aria-hidden="true"></span> Replen
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StockLevels">
                <span class="oi oi-clipboard" aria-hidden="true"></span> StockLevels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FootFall">
                <span class="oi oi-info" aria-hidden="true"></span> FootFall
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Overview">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Overview
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
